.container {
    min-height: 100vh;
}

.header,
.ticketSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.ticket {
    font-size: 14px;
}

.ticketSummary {
    gap: 30px;
}

.orderSections {
    display: flex;
    gap: 40px;
}

.title {
    margin-bottom: 40px;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
}

.active {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: var(--line-color); /* Màu line */
    animation: slideLine 0.4s ease-in-out forwards;
}

@keyframes slideLine {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.mainSub {
    display: flex;
    gap: 30px;
}

.scanQR {
    width: 25%;
    height: 100vh;
    background-color: #f1efec;
}

.renderTable {
    width: 70%;
}

.boxScan {
    display: flex;
    justify-content: center;
}

.btnScan {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 6px 14px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}
.text {
    margin-top: 5px;
    text-align: center;
    color: red;
}

.resultScanQr {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.resultItem {
    margin-bottom: 5px;
}

.icon {
    font-size: 20px;
}
