.boxDays {
    display: inline-block;
    width: 100px;
    /* background: var(--backgroud-product); */
    border: 1px solid var(--backgroud-product);
    text-align: center;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
    border-radius: 6px;
    height: 50px;
}

.boxDays:hover {
    background: var(--border-color);
    transition: background, color 0.5s ease-in-out;
    color: white;
}

.activeBtn {
    /* background-color: #1f5692; */
    background-color: var(--border-color);
    color: white;
}

.titleDays {
    font-size: 18px;
}
