.stepsBooking {
    margin-top: 60px;
    margin-bottom: 40px;
}

.bookingMain {
    display: flex;
    gap: 10px;
}

.bookingLeft {
    width: 65%;
}

.bookingRight {
    width: 35%;
}

.notificationIcon {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 2px;
}
